In [1]:
import pandas as pd

### Read the CSV file

In [2]:
operations_data = pd.read_csv('operations.csv', parse_dates=[2,3], dayfirst=True, sep=',')
operations_data['libelle'] = operations_data['libelle'].str.upper()
operations_data

,identifiant_transaction,libelle,date_operation,date_valeur,debit,credit,solde
0,390,CB AMAZON PRIME FR 30/12/21,2021-12-31,2021-12-31,-5.99,NaN,301.18
1,389,OFFRE VIREMENTS INTERNATIONAUX,2021-12-30,2021-12-30,-6.00,NaN,307.17
2,388,CB INTER THOMAL 28/12/21,2021-12-30,2021-12-30,-88.70,NaN,313.17
3,387,ANNUL VIRT SEPA DU 06/12/21,2021-12-29,2021-12-29,-40.00,NaN,401.87
4,386,COTISATION MENSUELLE CARTE 723,2021-12-28,2021-12-28,-2.00,NaN,441.87
...,...,...,...,...,...,...,...
385,5,ASSURANCE DECOUVERT AUTORISE,2021-01-19,2021-01-19,-1.25,NaN,1383.10
386,4,VERSEMENT ALS19012107800 VERSEMENT CASH,2021-01-19,2021-01-19,NaN,210.0,1384.35
387,3,CB INTER MARCHE 16/01/21,2021-01-18,2021-01-18,-74.01,NaN,1174.35
388,2,PRLV SEPA ASSURANCE LCL,2021-01-15,2021-01-15,-8.49,NaN,1248.36
389,1,CB INTER MARCHE 09/01/21,2021-01-11,2021-01-11,-15.33,NaN,1256.85

### Computing the Frequent operations_data

In [3]:
from collections import Counter

def most_common_words(labels):
    words = []
    for lab in labels:
        words += [word for word in lab.split(' ') if len(word)>2 or word=='CB']
    counter = Counter(words)
    for word in counter.most_common(1000):
        print(word)

most_common_words(operations_data['libelle'].values)

('CB', 188)
('SEPA', 79)
('PRLV', 75)
('AMAZON', 60)
('INTER', 45)
('PAYMENTS', 43)
('EUROPE', 38)
('ASSURANCE', 36)
('SCA', 34)
('MARCHE', 31)
('VIREMENT', 21)
('COTISATION', 17)
('MENSUELLE', 17)
('CARTE', 17)
('LAV', 17)
('NET', 17)
('NANTES', 17)
('SERVICES', 15)
('THOMAL', 14)
('LCL', 13)
('PRIME', 12)
('OFFRE', 12)
('VIREMENTS', 12)
('INTERNATIONAUX', 12)
('DECOUVERT', 12)
('AUTORISE', 12)
('MOYEN', 12)
('PAIEMENT', 12)
('BLADE', 11)
('COFIDIS', 11)
('POUR', 11)
('AMA', 11)
('MGEN', 11)
('112', 11)
('AUTRES', 11)
('CARTES', 11)
('ESPECES', 11)
('PAIEMENTS', 11)
('(HORS', 11)
('CARTES)', 11)
('7238', 11)
('CORIOLIS', 9)
('TELECOM', 9)
('PAU', 9)
('IMTIYAZ', 8)
('EURL', 8)
('CARLIER', 8)
('POITIERS', 7)
('COMPTE', 7)
('VIR', 6)
('POLE', 6)
('EMPLOI', 6)
('PAYPAL', 6)
('(EUROPE)', 6)
('S.A.R.L.', 6)
('CIE.,', 6)
('S.C.A.', 6)
('RETRAIT', 5)
('DECATHLON', 5)
('17/08/21', 5)
('14/08/21', 5)
('12/08/21', 5)
('VERSEMENT', 5)
('1941', 5)
('EURO', 4)
('22/11/21', 4)
('09/11/21', 4)
('GENERAUX', 4)
('SARL,', 4)
('SUCCURSALE', 4)
('REGIE', 4)
('TACOS', 4)
('11/08/21', 4)
('07/08/21', 4)
('05/08/21', 4)
('19/07/21', 4)
('12/07/21', 4)
('RATP', 4)
('ORANGE', 4)
('STRIPE', 3)
('VIA', 3)
('BENMAHAMMED', 3)
('OUS', 3)
('13/11/21', 3)
('UBER', 3)
('*EATS', 3)
('06/10/21', 3)
('TENUE', 3)
('INST', 3)
('DES', 3)
('TRANSP', 3)
('21/08/21', 3)
('16/08/21', 3)
('B&B', 3)
('HOTELS', 3)
('15/08/21', 3)
('PITAYA', 3)
('DISTRILAV', 3)
('AND', 3)
('16/07/21', 3)
('15/07/21', 3)
('30/06/21', 3)
('30/04/21', 3)
('02/04/21', 3)
('30/01/21', 3)
('06/12/21', 2)
('22/12/21', 2)
('21/12/21', 2)
('09/12/21', 2)
('AHMED', 2)
('AMINE', 2)
('30/11/21', 2)
('PPRO', 2)
('05/10/21', 2)
('VILLENEUVE', 2)
('HIGH', 2)
('DAT', 2)
('ETRANGER', 2)
('FRANCAIS', 2)
('26/10/21', 2)
('FRANCE', 2)
('07/10/21', 2)
('01/10/21', 2)
('22/09/21', 2)
('07/09/21', 2)
('31/08/21', 2)
('10/08/21', 2)
('SUBWAY', 2)
('CARREFOUR', 2)
('21/07/21', 2)
('18/07/21', 2)
('PH.', 2)
('CORDELIERS', 2)
('SARL', 2)
('09/07/21', 2)
('SNCF', 2)
('INTERNET', 2)
('01/06/21', 2)
('03/05/21', 2)
('12/04/21', 2)
('ABDELAALI', 2)
('SOUILAH', 2)
('04/04/21', 2)
('SOUTIENT', 2)
('28/03/21', 2)
('LEVESQUE', 2)
('CAMILL', 2)
('LOYER', 2)
('19/01/21', 2)
('30/12/21', 1)
('28/12/21', 1)
('ANNUL', 1)
('VIRT', 1)
('723', 1)
('POSTE', 1)
('869330', 1)
('23/12/21', 1)
('SARL.', 1)
('SUCC', 1)
('15/12/21', 1)
('14/12/21', 1)
('09/12', 1)
('MUTUELLE', 1)
('GENERALE', 1)
('EDU', 1)
('ZAI', 1)
('02/12/21', 1)
('SOUCHAUD', 1)
('27/11/21', 1)
('DATA', 1)
('HUAWEI', 1)
('WATCH', 1)
('DMS', 1)
('21/11/21', 1)
('20/11/21', 1)
('12/11/21', 1)
('10/11', 1)
('PRO', 1)
('10112196600', 1)
('02/11/21', 1)
('30/10/21', 1)
('21/10/21', 1)
('19/10/21', 1)
('17/10/21', 1)
('18/10/21', 1)
('15/10/21', 1)
('14/10/21', 1)
('11/10/21', 1)
('DONALD', 1)
('LIDL', 1)
('2448', 1)
('CREDIT', 1)
('30/09/21', 1)
('23/09/21', 1)
('14/09/21', 1)
('CHQ.', 1)
('3464168', 1)
('12/09/21', 1)
('10/09/21', 1)
('DOMINOS', 1)
('11/09/21', 1)
('MAHIOUZ', 1)
('REFUND', 1)
('06/09/21', 1)
('ZAIR', 1)
('30/08/21', 1)
('29/08/21', 1)
('BOUCHERIE', 1)
('RIDA', 1)
('22/08/21', 1)
('20/08/21', 1)
('SUMUP', 1)
('CHATELLERAULT', 1)
('DECAT', 1)
('354', 1)
('CABANON', 1)
('MARIN', 1)
('HERMIONE', 1)
('BIL', 1)
('BAINS', 1)
('SARRAILH', 1)
('BOITE', 1)
('PIZZA', 1)
('TAJINIER', 1)
('13/08', 1)
('AIX', 1)
('PASTEUR', 1)
('BIGGY', 1)
('BURGER', 1)
('CIT', 1)
('JPM', 1)
('COMMINGES', 1)
('BOOKING.COM', 1)
('INVEST', 1)
('PIZZAPAPA', 1)
('SUSHI', 1)
('AUCHAN', 1)
('VALENCE', 1)
('PIZZAS', 1)
("SMOKY'S", 1)
('DONALDS', 1)
('433', 1)
('ALPINE', 1)
('NAUTIQUE', 1)
('PREMIERE', 1)
('CLASSE', 1)
("MCDONALD'S", 1)
('MURE', 1)
('SUPER', 1)
('NOTRE', 1)
('DAM', 1)
('08/08/21', 1)
('0062', 1)
('ECULLY', 1)
('0131', 1)
('DGFIP', 1)
('FINANCES', 1)
('PUBLIQUES', 1)
('20/07/21', 1)
('IBIS', 1)
('BUDGET', 1)
('RELAIS', 1)
('BOIS', 1)
("TOULOUSE'HEIN", 1)
('0045', 1)
('SHELL', 1)
('2308', 1)
('HYPROMAT', 1)
('LAVAGE', 1)
('WOK', 1)
('WALK', 1)
('ENI9732PECHMONT', 1)
('13/07/21', 1)
('GEOX', 1)
('LIFESTYLE', 1)
('35314369001', 1)
('001', 1)
('TRANSLATION', 1)
('08/07/21', 1)
('LONDON', 1)
('05/07/21', 1)
('DELICEFRITES', 1)
('03/07/21', 1)
('OLIVEIRA', 1)
('04/07/21', 1)
('05072196561', 1)
('28/06/21', 1)
('24/06/21', 1)
('23/06/21', 1)
('22/06/21', 1)
('MEMORIAL', 1)
('ARMISTI', 1)
('20/06/21', 1)
('18/06/21', 1)
('CHAT.VERSAILLES', 1)
('19/06/21', 1)
('ALS14062107800', 1)
('30/05/21', 1)
('POESIE', 1)
('22/05/21', 1)
('21/05/21', 1)
('12/05/21', 1)
('10/05', 1)
('RTP', 1)
('23/04/21', 1)
('GIFT', 1)
('08/04', 1)
('08/04/21', 1)
('REM', 1)
('CHQ', 1)
('00001CH', 1)
('9468092', 1)
('0000000', 1)
('ALS02042107800', 1)
('30/03/21', 1)
('27/03/21', 1)
('16/03/21', 1)
('05/03/21', 1)
('ALS05032107800', 1)
('FAM', 1)
('01/03/21', 1)
('26/02/21', 1)
('LOYERS', 1)
('22/02/21', 1)
('15/02/21', 1)
('08/02/21', 1)
('DEMI', 1)
('LUNE', 1)
('07/02/21', 1)
('STEAMGAMES.COM', 1)
('ALLAOUA', 1)
('ABDELGHA', 1)
('2017', 1)
('23/01/21', 1)
('21/01/21', 1)
('ALS19012107800', 1)
('CASH', 1)
('16/01/21', 1)
('09/01/21', 1)

In [4]:
operations_data[operations_data['libelle'].str.contains('VIR '.upper())]

,identifiant_transaction,libelle,date_operation,date_valeur,debit,credit,solde
19,371,VIR SEPA BENMAHAMMED OUS,2021-12-12,2021-12-12,-370.0,NaN,958.72
120,270,VIR SEPA BENMAHAMMED OUS,2021-09-18,2021-09-18,-125.0,NaN,394.66
133,257,VIR INST M. AHMED EL AMINE ZAIR,2021-09-04,2021-09-04,NaN,390.0,1266.12
247,143,VIR SEPA BENMAHAMMED OUS,2021-07-05,2021-07-05,-100.0,NaN,978.83
313,77,VIR INST ABDELAALI SOUILAH GIFT,2021-04-12,2021-04-12,NaN,10.0,408.86
336,54,VIR INST ABDELAALI SOUILAH,2021-03-28,2021-03-28,NaN,7.0,330.95

In [5]:
CATEGS = {
    'LOYER': 'LOYER',
    'ETRANGER': 'DON',
    'CARTE': 'COTISATION BANCAIRE',   
    'ASSURANCE': 'COTISATION BANCAIRE',
    'TENUE DE COMPTE': 'COTISATION BANCAIRE',
    'SERVICES': 'COTISATION BANCAIRE',
    'OFFRE': 'COTISATION BANCAIRE',
    'MGEN': 'SANTE',
    'DR' : 'SANTE',
    'PH.' : 'SANTE',
    'AMAZON': 'ACHAT & MEDIA',
    'PAYPAL': 'ACHAT & MEDIA',
    'BLADE': 'ACHAT & MEDIA',
    'COFIDIS': 'ACHAT & MEDIA',
    'DECATHLON': 'SPORT',
    'LIFESTYLE': 'SPORT',
    'GEOX': 'VETEMENTS',
    'INTER ': 'COURSES',
    'IMTIYAZ': 'COURSES',
    'CARREFOUR': 'COURSES',
    'AUCHAN': 'COURSES',
    'LIDL': 'COURSES',
    'LAV': 'LAVERIE',
    'ORANGE': 'FACTURE TELEPHONE',
    'CORIOLIS': 'FACTURE TELEPHONE',    
    'TRANSP': 'TRANSPORT',
    'SNCF': 'TRANSPORT',
    'RATP': 'TRANSPORT',
    'HOTEL' : 'HOTEL',
    'IBIS' : 'HOTEL',
    'UBER *EATS' : 'FOOD',
    'TACOS' : 'FOOD',
    'SUBWAY' : 'FOOD',
    'DONALD' : 'FOOD',
    'SUSHI' : 'FOOD',
    'CARLIER' : 'FOOD',
    'PITAYA' : 'FOOD',
    'PIZZA' : 'FOOD',
}

TYPES = {
    'CB': 'CARTE',
    'VIR ': 'VIREMENT',
    'VIREMENT': 'VIREMENT',
    'RETRAIT': 'RETRAIT',
    'PRLV': 'PRELEVEMENT',  
}

In [6]:
EXPENSES = [50, 150] # Bornes des catÃ©gories de dÃ©pense : petite, moyenne et grosse
LAST_BALANCE = 301.18 # Solde du compte APRES la derniÃ¨re opÃ©ration en date
WEEKEND = ["Saturday","Sunday"] # Jours non travaillÃ©s

In [7]:
# Controle des colonnes
for c in ['date_operation','libelle','debit','credit']:
    if c not in operations_data.columns:
        if (c in ['debit','credit'] and 'montant' not in operations_data.columns) or \
        (c not in ['debit','credit']):
            msg = "Il vous manque la colonne '{}'. Attention aux majuscules "
            msg += "et minuscules dans le nom des colonnes!"
            raise Exception(msg.format(c))

# Suppression des colonnes innutiles
for c in operations_data.columns:
    if c not in ['date_operation','libelle','debit','credit','montant']:
        del operations_data[c]

# Ajout de la colonne 'montant' si besoin
if 'montant' not in operations_data.columns:
    operations_data["debit"] = operations_data["debit"].fillna(0)
    operations_data["credit"] = operations_data["credit"].fillna(0)
    operations_data["montant"] = operations_data["debit"] + operations_data["credit"]
    del operations_data["credit"], operations_data["debit"]

# creation de la variable 'solde_avt_ope'
operations_data = operations_data.sort_values("date_operation")
amount = operations_data["montant"]
balance = amount.cumsum()
balance = list(balance.values)
last_val = balance[-1]
balance = [0] + balance[:-1]
balance = balance - last_val + LAST_BALANCE
operations_data["solde_avt_ope"] = balance

# Assignation des operations_data a une categorie et a un type
def detect_words(values, dictionary):
    result = []
    for lib in values:
        operation_type = "AUTRE"
        for word, val in dictionary.items():
            if word in lib:
                operation_type = val
        result.append(operation_type)
    return result
operations_data["categ"] = detect_words(operations_data["libelle"], CATEGS)
operations_data["type"] = detect_words(operations_data["libelle"], TYPES)

# creation des variables 'tranche_depense' et 'sens'
def expense_slice(value):
    value = -value # Les dÃ©penses sont des nombres nÃ©gatifs
    if value < 0:
        return "(pas une depense)"
    elif value < EXPENSES[0]:
        return "petite"
    elif value < EXPENSES[1]:
        return "moyenne"
    else:
        return "grosse"
operations_data["tranche_depense"] = operations_data["montant"].map(expense_slice)
operations_data["sens"] = ["credit" if m > 0 else "debit" for m in operations_data["montant"]]

# Creation des autres variables
operations_data["annee"] = operations_data["date_operation"].map(lambda d: d.year)
operations_data["mois"] = operations_data["date_operation"].map(lambda d: d.month)
operations_data["jour"] = operations_data["date_operation"].map(lambda d: d.day)
operations_data["jour_sem"] = operations_data["date_operation"].map(lambda d: d.day_name())
operations_data["jour_sem_num"] = operations_data["date_operation"].map(lambda d: d.weekday()+1)
operations_data["weekend"] = operations_data["jour_sem"].isin(WEEKEND)
operations_data["quart_mois"] = [int((jour-1)*4/31)+1 for jour in operations_data["jour"]]
        
# Enregistrement au format CSV
operations_data.to_csv("operations_data_enrichies.csv",index=False)